.headerBottom .headerBottomMain .headerBottomMainLeft .color_2 a{
    background: #cc3601;
}
.oneHang{
    width: 100%;
    height: 30px;
    background: #f1f1f1;
}
.middle{
    width: 100%;
    background: #f1f1f1;
}
.middleMain{
    width: 1140px;
    margin: 0 auto;
    background: white;
    padding: 26px 30px 0 30px;
    
}
.middleMainTop{
    width: 1140px;
    height: 53px;
   
}

.middleMainTop ul li a{
    width: 161px;
    height: 51px;
    float: left;
}

.middleMainTop ul .first a{
    border-top: 2px solid #ff4400;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    background:white;
    display: block;
    color: #ff4400;
    line-height: 51px;
    font-size: 18px;
    width: 161px;
    height: 51px;
    text-align: center;
    font-weight: bold;
    
} 

.middleMainTop ul .next a{
    border-top: 2px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    background:white;
    display: block;
    color: #474747;
    line-height: 51px;
    font-size: 18px;
    width: 161px;
    text-align: center;
   
    
} 
.middleMainTop ul .last a{
    width: 166px;
}
/* .middleMainTop ul .next:hover a{
    background:white;
    display: block;
    color: #ff4400;
    line-height: 51px;
    font-size: 18px;
    width: 161px;
    height: 51px;
    text-align: center;
    font-weight: bold;
    border-top: 2px solid #ff4400;
    border-right: 1px solid #e9e9e9;
}  */
.middleMainMiddle{
    width: 1138px;
    height: 45px;
    background: #fafafa url(../images/change_bg.png) no-repeat 0px 0px;
    border:1px solid #e9e9e9;
    margin-bottom: 25px;
   
}
.middleMainMiddle input{
   margin-left: 14px;
   margin-top: 16px;
   margin-right: 0px;
   
}
.middleMainMiddle label{
    line-height: 16px;
    font-size:16px;
    margin-right: 14px;
    margin-left: 10px;
}
.middleMainMiddle label:hover{
    color: #ff4400;
}
.middleMainMiddle select{
    width: 171px;
    height: 28px;
    border: 1px solid #e9e9e9;
    color: #474747;
    font-size: 14px;
    outline: none;
    margin-left: 604px;
}
.middleMainMain ul li{
    width: 208px;
    height: 379px;
    float: left;
    margin-right: 25px;
}
.middleMainMain ul li a>img{
    display: block;
    border:1px solid #e9e9e9;

}
.middleMainMain ul li .p1{
    display: block;
    margin-top: 11px;
    line-height: 28px;
    font-size: 14px;
    color:#474747;
}
.middleMainMain ul li a:visited{
    color: #474747;
}
.middleMainMain ul li a:hover{
    color: #ff4400;
}
.middleMainMain ul .last{
    margin-right:0px;
}
.middleMainMain ul li .point{
    color: #ff4400;
    font-weight: bold;
}
.middleMainMain ul li .new{
    position: relative;
}

.middleMainMain ul li div{
    position: absolute;
    top: -243px;
    left: 1px;
  
}
.middleMainMain ul li a:hover div{
    display: none;

}



.middleMainBottom{
    width: 1140px;
    height: 74px;
    background: white;
    float: left;
    padding-top: 6px;
}
.middleMainBottom ul{
    margin-left: 326px;
    
}

.middleMainBottom ul .first{
    background: #ff4400;
    color: white;
    
}
.middleMainBottom ul .last{
    border: none;
    
}
.middleMainBottom ul li {
    border: 1px solid #ececec;
    display: block;
    
    line-height: 46px;
    font-size: 12px;
    width: 46px;
    height: 46px;
    text-align: center;
    
    float: left;

}
.middleMainBottom ul li a{
    color: #474747;
}

.middleMainBottom .jump{
    display: block;
    width: 32px;
    height: 32px;
    border: 1px solid #ececec;
    padding: none;
    float: left;
    margin-top: 7px;
}
.middleMainBottom p{
    float: left;
    line-height: 46px;
    margin-left: 4px;
    margin-right: 4px;
    
}
.middleMainBottom .submit{
    width: 94px;
    height: 48px;;
    color: white;
    background: #ff4400;
    line-height: 48px;
    border: none;
    padding: none;
    font-size: 18px;
    margin-left: 18px;
}

.middleMainBottom ul li:hover a{
    color: #ff4400;
    
} 
.middleMainBottom ul .first:hover a{
    color: white;
    
}
