<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of list">
            <a href=""><img src={{item.url}} alt=""></a>
        </div>


    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<p class="title">电台</p>
<div class="radio_station">
    <ul>
        <li>
            <a href="">
                <img src="../../../assets/img/radio_station_1.jpg" alt="">
                <i class="start"></i>
            </a>
            <a href="">
                <p>热歌</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="../../../assets/img/radio_station_2.jpg" alt="">
                <i class="start"></i>
            </a>
            <a href="">
                <p>一人一首招牌歌</p>
            </a>
        </li>
    </ul>
</div>
<p class="title">热门歌单</p>
<p class="list_more">去客户端发现更多好音乐 ></p>
<div class="footer">
    <a href="">查看电脑版网页</a>
    <div class="footer_logo"></div>
    <p class="footer_email">Copyright © 1998 - 2018 Tencent. All Rights Reserved.</p>
</div>