<!-- <h1>{{content}}</h1> -->
<!-- {{str}}
<hr>{{str | uppercase}}
<hr>{{str | lowercase}}
<hr>{{day}}
<hr>{{day|date:'yyyy/MM/dd/hh/mm/ss'}}
<hr>{{num}}
<hr>{{num|number:'5.1-5'}}
<hr>
<div class="red" appMyclass>str</div>
<div appMyclass>str</div> -->
<div class="head">
    <div class="top_bar">
        <div class="logo">
            <img src="../../../assets/img/logo.svg" alt="">
            <div>
                <p>QQ音乐</p>
                <p>打开APP收藏、下载</p>
            </div>

        </div>
        <div class="but">打开</div>
    </div>
    <div class="album">
        <img src="../../../assets/img/number_1_people.jpg" alt="">



    </div>
</div>