body,h1,h2,h3,h4,h5,h6,p,dl,dd{margin: 0;}
        ul,ol{margin: 0;padding: 0;list-style: none;}
        a{text-decoration: none; }
        p{
            font-size: 14px;
            color: #474747;
            font-family: 微软雅黑;
        }
        input{
            cursor: pointer;
        }
        .clearfix:after{
            content: "";
            display: block;
            clear: both;
            height: 0;
            line-height: 0;
            visibility: hidden;
        }
        .clearfix{*zoom: 1;}
        table{
            border-collapse: collapse;
        }
        td,th{
            border: 1px solid #000;
            padding: 0;
        }
        .headerTop{
            width: 100%;
            height: 38px;
            background:#f3f3f3;
        }
        
        .main{
            width: 1200px;
            margin: 0 auto;
        }
        /* header */
        .headerTopMain a:link{
            color: #474747;
        }
        .headerTopMain a:visited{
            color: #474747;
        }
        .headerTopMain a:hover{
            color: #ff8400;
        }
        .headerTopMain a:active{
            color: #ff8400;
        }
        .headerTopMainRight p{
            display: inline;
            line-height: 38px;

        }
        .headerTopMainLeft p{
            
            margin-right: 29px;
            line-height: 38px;
            display: inline;
        }
        .headerTopMainRight{
            width: 351px;
            float: right;
            height: 38px;
        }
        .headerTopMainLeft{
            height: 38px;
            width:375 px;
            float: left;
            
        }

        .headerTopMain .tel{
            float: left;
            position: relative;
        }
        .headerTopMain .tel .tel1{
            display:block;
            width:44px;
            height: 36px;
            background: url(../images/JfTop.png) no-repeat -27px 0px;
            font-size: 17px;
            font:12px/36px '微软雅黑';
            padding-top: 2px;
            padding-left: 14px;
        }

        .headerTopMain .tel .tel1:hover{
            color: #ff8400;
            background: url(../images/JfTop.png) no-repeat -27px -38px;
        }
        .app{
            width: 468px;
            height: 160px;
            border: 1px solid #d1d1d1;
            position: absolute;
            left: -25px;
            top:38px;
            background: white;
            display:none;
            z-index: 5;
        }
        .tel:hover .app{
            display: block;
        }
        .jiao{
            position: absolute;
            left: 23px;
            top:-6px;
        }
        .tel .app ul{
            width: 234px;
            height: 160px;
            float: left;
        }
        .tel .app li{
            width: 234px;
            height: 80px;
            float: left;
        }
        .headerTopMain .tel .app .one{
            
            width: 65px;
            float: left;
            padding-left: 20px;
            padding-top: 20px;
            height: 60px; 
           
        }
        
         .tel .app .oneH{
            display: block;
            float: left;
            width: 149px;
            font-size: 14px;
            line-height: 14px;
            padding-top: 27px;

            
            
        }
        .tel .app .oneP{
            display: block;
            float: left;
            width: 50px;
            font-size: 12px;
            line-height: 14px;
            padding-top: 12px;
            color: #ff4400;

            
            
        }
        .tel .app p{
            display: block;
            float: left;
            width: 18px;
            font-size: 12px;
            line-height: 14px;
            padding-top: 12px;
            color: #e7e7e7;

            
            
        }
        .headerTopMain .tel .app li .oneP:hover{
            text-decoration: underline;
            

        }
        .headerTopMain .tel .app li .oneP:active{
            text-decoration: underline;

        }
        .headerTopMain .tel .app .two{
            padding-top: 10px;
            height: 70px; 

        }
        .tel .app .three{
           
            padding-top: 17px;
            
            
            
        }




        .headerTopMainRight img{
            margin-top: 12px
        }
        .headerTopMainRight p{
            display: inline;
            line-height: 38px;

        }
     
        .headerMainMainImg2 a {
            overflow: hidden;
            display: block;
             margin: 24px 53px 25px 178px;
        }
        .headerMainMainImg2 a img{
           transition: 1s;
           
        }
        .headerMainMainImg2 a img:hover{
            transform: scale(1.2);
        }
        .headerMainMainInput_1{
            width: 278px;
            height: 27px;
            border: 1px solid #e6e6e6;
            border-right: none;
            margin-top: 32px;
            padding:0;
            display: block;
            float: left;
            outline: none;
        }
        .headerMainMainInput_2{
            border: none;
            padding:none;
            width: 72px;
            height: 29px;
            background: #ff4400;
            color: white;
            line-height: 29px;
            font-size: 16px;
            text-align: center;
            display: block;
            float: left;
            margin-top: 32px;
            outline: none;
            
        }
        .headerMainMainImg1,.headerMainMainImg2,.headerMainMainInput{
            float: left;
        }




        .headerBottom{
            height:42px;
            width:100%;
            background: #ff4400;
           
        }
        .headerBottomMainLeft{
            width: 896px;
            height: 42px;
            
            float: left;
            


        }
        
        
        .headerBottomMainLeft .first a{
            display: block;
            text-align: center;
            line-height: 42px;
            color: white;
            font-size: 18px;
            background: #ff4401;
            width: 135px;
            height: 42px;
            float: left;
        }
        .headerBottomMainLeft .next a{
            display: block;
            text-align: center;
            line-height: 42px;
            color: white;
            font-size: 18px;
            background: #ff4400;
            width: 134px;
            height: 42px;
            float: left;
            
        }
        .headerBottomMainLeft a:hover{
            font-weight: bold;
            background: #cc3601;
        }
        .headerBottomMainLeft .next_1 { 
            background: #cc3601;
            width: 1px;
            height: 15px;
            float: left;
            margin-top: 14px;
            margin-bottom: 13px;   
        }
        .tips{
            position: relative;
        }
        .headerBottomMainLeft ul{
            border:none ;
            border-top: none;
            display: none;
            position: absolute;
            left: 0px;
            top: 42px;
           
        }
        .tips{
            float: left;
            /* z-index: 555; */
        }
        .tips:link ul{
            background: white;
            color:black;
        }
        .tips:visited ul{
            background: white;
            color:black;
        }
        .tips:hover ul{
            color: white;
            background: #cc3601;
            font-weight: bold;
            display: block;

        }
        .tips:active ul{
            color: white;
            background: #cc3601;
            font-weight: bold;
            display: block;
        }

        .headerBottomMainRight{
            float: left;   
        }
        .headerBottomMainRight .headerBottomMainRightInput{
            width: 110px;
            height: 42px;
            background: #e53e01 url(../images/index_header_peoplebg.png) no-repeat 0px 0px;
            border: none;
            color: white;
            line-height: 42px;
            font-size: 16px;
            padding:0 0 0 16px;
            margin: 0;
            cursor: pointer;
            outline: none;
        }








        .foot_0{
            width:100%;
            height: 100px;
            background: #f1f1f1;
        }


        .foot_1{
            width:100%;
            height: 31px;
            background: #dcdcdc;
        }
        
    
        .foot{
            width:100%;
            height: 261px;
            background: #dcdcdc;
        }
        .footMain{
            height: 261px;
            background: blueviolet;
        }
        .footMainLeft{
            height: 261px;
            width: 828px;
            background: #dcdcdc;
            float: left;
        }
        .footMainLeft_1{
            margin:0px 28px 28px 0px;
            width: 186px;
            height: 233px;
            background-image: url(../images/index_foot_bg1.png);  
            float: left;
        }
        .footMainLeft_1 p{
            color: #474747;
            font-size: 16px;
            line-height: 16px;
            padding-top: 136px;
            text-align: center;
            width: 186px;
            margin-bottom: 9px;
            
        }
        .footMainLeft_1 a{
            display: block;
            line-height: 24px;
            text-align: center;
            font-size: 14px;
            color: #707070;
        }
        .footMainLeft_1 a:hover{
            color:#ff4400;
        }
        .footMainLeft_2{
            background-image: url(../images/index_foot_bg2.png);  
        }
        .footMainLeft_3{
            background-image: url(../images/index_foot_bg3.png);  
        }
        .footMainLeft_4{
            background-image: url(../images/index_foot_bg4.png);
            margin-right: 0px;
        }
        .footMainRight{
            height: 261px;
            width: 372px;
            background:url(../images/index_foot_bg5.png);
            float: right;
        }
        .footMainRight p{
            line-height: 44px;
            font-size: 16px;
            text-align: center;

        }
        .footMainRight .QRCode{
            margin-left: 141px;
            width: 90px;
            height: 90px;
            background: url(../images/css_sprites.png) no-repeat -10px -10px;
        }
        .footMainRight .two{
            margin-top: 31px;
            line-height: 16px;
        }
        .footMainRight .three{
            
            line-height: 16px;
            font-size: 16px;
            margin-top: 16px;
        }




        .bottom{
            width: 100%;
            height: 149px;
            background: #c9c9c9;
        }
        .bottomMain{
            height: 149px;
            

        }
        .bottomMainTop{
            height: 33px;
            line-height: 33px;
            padding-top: 26px;
            padding-left: 234px;
            
            
        }
        .bottomMain a{
            display: block;
            color: #707070;
            text-align: center;
            float: left;
            font-size: 15px;

        }
        .bottomMain a:hover{
            color: #ff4400;
        }
        .bottomMain .separator{
            float: left;
            width: 12px;
            text-align: center;
            font-size: 15px;
            
        }
       
        .bottomMainMiddle{
            height: 33px;
            line-height: 33px;
            padding-left: 393px;
            color: #707070;
        }
         .bottomMainBottom_2{
            padding-left: 542px;
            float: left;
            padding-right: 4px;
        }
        .bottomMain .bottomMainBottom a{
            text-align: left;
            line-height: 33px;
        }
        .upButtom{
            width: 60px;
            height: 50px; 
            opacity: 0.5;
            position: fixed;
            left: 100%;
            top: 100%;
            margin-top: -70px;
            margin-left: -70px;
        }
        .upButtom a:link{
            opacity: 0.7;
        }
        .upButtom a:hover{
            opacity: 1;
        }